{% load i18n %}
{% load static %}

{% block popup_consulting %}
<!-- Modal -->
<div class="modal fade" id="myModalConsulting" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md text-center">
              <h3 class="modal-title"  id="">
                  {% comment %}Translators: Modal headline{% endcomment %}
                  {% translate "How it works:" %}</h3>
            </div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        <!-- Step N°1 -->
          <div class="row">
            <div class="text-center col-md-12">
              <h2 class="text-primary">STEP N°1</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">Contact us via one of our chanels<br>(Phone, Whatsapp, Mail, in our office)<br>and get first information </p>
            </div>
          </div>
          <div class="row d-flex flex-row justify-content-center mb-3">
            <div class="col-md-3 d-flex flex-row justify-content-center"><img src="{% static 'home/modal_consulting/pictogram_phone.svg' %}" alt="Phone"></div>
            <div class="col-md-3 d-flex justify-content-center flex-row"><img src="{% static 'home/modal_consulting/pictogram_pc.svg' %}" alt="PC"></div>
          </div>

        <!-- Step N°2 -->
          <div class="row">
            <div class="text-center col-md-12">
              <h2 class="text-primary">STEP N°2</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">We inform our doctors and schedule a meeting for you</p>
            </div>
          </div>
          <div class="row d-flex flex-row justify-content-center mb-3">
            <div class="col-md-3 d-flex flex-row justify-content-center"><img src="{% static 'home/modal_consulting/pictogram_doctor_female.svg' %}" alt="Doctor Female"></div>
            <div class="col-md-3 d-flex justify-content-center flex-row"><img src="{% static 'home/modal_consulting/pictogram_doctor_male.svg' %}" alt="Doctor Male"></div>
          </div>

        <!-- Step N°3 -->
          <div class="row">
            <div class="text-center col-md-12">
              <h2 class="text-primary">STEP N°3</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">Our specialists & doctors consult you via Phone, Video-Conference or directly in our office</p>
            </div>
          </div>
          <div class="row d-flex flex-row justify-content-center mb-3">
            <div class="col-md-3 d-flex flex-row justify-content-center"><img src="{% static 'home/modal_consulting/pictogram_video.svg' %}" alt="Video"></div>
            <div class="col-md-3 d-flex flex-row justify-content-center"><img src="{% static 'home/modal_consulting/pictogram_face_to_face.svg' %}" alt="Face-to-Face"></div>
            <div class="col-md-3 d-flex justify-content-center flex-row"><img src="{% static 'home/modal_consulting/pictogram_call.svg' %}" alt="Video"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}