{% extends "home/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="text-center pt-3">
    <div class="container">
      <div class="row border-bottom pt-1 pb-3">
        <div class="d-flex flex-column justify-content-center align-items-center col-md-2 border-right">
          <h1 id="article_title" class="text-secondary mb-0 text-uppercase"><strong>About</strong></h1>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center border-right col-md-2 pl-0 pr-0">
          <h3 id="article_title" class="mb-0 text-body text-capitalize"><strong>Prostate Cancer</strong></h3>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center col-md-2 border-right pl-0 pr-0">
          <h3 id="article_title" class="mb-0 text-body text-capitalize"><strong>Tyroid Cancer</strong></h3>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center col-md-2 border-right pl-0 pr-0">
          <h3 id="article_title" class="mb-0 text-body text-capitalize"><strong>Luthesium PSMA</strong></h3>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center col-md-2 border-right pl-0 pr-0">
          <h3 id="article_title" class="mb-0 text-body text-capitalize"><strong>Lung Cancer</strong></h3>
        </div>
      </div>
      <div class="row">


        <div class="col-md-8 border-bottom"><img class="d-block w-100 pb-3 pt-2" src="https://static.pingendo.com/cover-moon.svg" id="thumbnail">
          <h6 class="text-primary text-left text-uppercase mb-1" id="article_category">Prostata Cancer // article_category</h6>
          <h3 id="article_title" class="text-left mb-0">Luthesium PSMA // article_title</h3>
          <p id="article_short_description" class="text-left mb-0 lead">article_short_description</p>
          <p id="article_url" class="text-left text-muted blockquote-footer">Publication date // created_at</p>
        </div>


        <div class="col-md-4 border-bottom"><img class="d-block w-100 pb-3 pt-2" src="https://static.pingendo.com/cover-moon.svg" id="thumbnail">
          <h6 class="text-primary text-left text-uppercase mb-1" id="article_category">Prostata Cancer // article_category</h6>
          <h3 id="article_title" class="text-left mb-0">Luthesium PSMA // article_title</h3>
          <p id="article_short_description" class="text-left mb-0 lead">article_short_description</p>
          <p id="article_url" class="text-left text-muted blockquote-footer">Publication date // created_at</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 border-bottom"><img class="d-block w-100 pb-3 pt-2" src="https://static.pingendo.com/cover-moon.svg" id="thumbnail">
          <h6 class="text-primary text-left text-uppercase mb-1" id="article_category">Prostata Cancer // article_category</h6>
          <h3 id="article_title" class="text-left mb-0">Luthesium PSMA // article_title</h3>
          <p id="article_short_description" class="text-left mb-0 lead">article_short_description</p>
          <p id="article_url" class="text-left text-muted blockquote-footer">Publication date // created_at</p>
        </div>
        <div class="col-md-4 border-bottom"><img class="d-block w-100 pb-3 pt-2" src="https://static.pingendo.com/cover-moon.svg" id="thumbnail">
          <h6 class="text-primary text-left text-uppercase mb-1" id="article_category">Prostata Cancer // article_category</h6>
          <h3 id="article_title" class="text-left mb-0">Luthesium PSMA // article_title</h3>
          <p id="article_short_description" class="text-left mb-0 lead">article_short_description</p>
          <p id="article_url" class="text-left text-muted blockquote-footer">Publication date // created_at</p>
        </div>
        <div class="col-md-4 border-bottom"><img class="d-block w-100 pb-3 pt-2" src="https://static.pingendo.com/cover-moon.svg" id="thumbnail">
          <h6 class="text-primary text-left text-uppercase mb-1" id="article_category">Prostata Cancer // article_category</h6>
          <h3 id="article_title" class="text-left mb-0">Luthesium PSMA // article_title</h3>
          <p id="article_short_description" class="text-left mb-0 lead">article_short_description</p>
          <p id="article_url" class="text-left text-muted blockquote-footer">Publication date // created_at</p>
        </div>
      </div>

{% endblock %}