{% load i18n %}

<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{{ settings.APP_NAME }}{% endblock %}</title>

{% include './base_header.html' %}

</head>

<body>

{% include './base_navbar.html' %}

{% block messages %}
    {% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}} text-center" role="alert">
        {{msg.message}}
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}
{% include './popup.html' %}
{% include './modal_consulting.html' %}

{% block content %} {% endblock %}

{% include './base_footer.html' %}
</body>
<!-- Opens popup.html after 2s once per session when DOM is ready //
        Shows popup.html when clicked on id="contactbutton"  -->

<script>
  $(document).ready(function () {
    let popup_shown = sessionStorage.getItem("myModal");

    if (!popup_shown) {
        setTimeout(function () {
          $("#myModal").modal('show');
        }, 2000);
        sessionStorage.setItem("myModal", 1);
        console.log('Show modal for new session.');
        }
    else {
        $("#myModal").hide();
        console.log('Modal was already shown in this session.');
    }

  });

  $("#contactbutton1").click(function () {
    $("#myModal").modal('show');
    console.log('Show Modal Contact');
  });

  $("#contactbutton2").click(function () {
    $("#myModal").modal('show');
    console.log('Show Modal Contact');
  });

  $("#contactbutton3").click(function () {
    $("#myModal").modal('show');
    console.log('Show Modal Contact');
  });

  $("#myModalConsultingButton").click(function () {
    $("#myModalConsulting").modal('show');
    console.log('Show Modal Consulting');
  });


</script>

<!-- in article_list.html a list with category.pk is created and as {{ article_category_pk_list|json_script:"my_array" }} passed into the template //
        myArray puts that into a constant and function scrolls to element  -->
<script>

  const myArray = JSON.parse(document.getElementById('my_array').textContent);
  console.log(myArray);

  $.each(myArray, function( index, value ) {
    $("#category_" + value).click(function () {
        $('html, body').animate({
            scrollTop: $("#article_category_" + value).offset().top
        }, 200);
  });
  console.log(index + ": Function for Scroll to: article_category_" + value);
  });
</script>
</html>