{% extends "home/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

{% for info in info_list %}
  {% if info.is_active == True %}
    <div class="alert alert-secondary text-center" role="alert">
      <strong>{% blocktranslate with info=info.info_text %}INFO: {{ info }}{% endblocktranslate %}</strong>
    </div>
  {% endif %}
{% endfor %}

  <!-- TODO: add links to the h1 and images -->
  <!-- TODO: change blocktranslate to translate -->
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center mb-4 text-capitalize">{% translate "Our portfolio in cancer" %}</h2>
          <!-- Paragraph right -->
          <div class="row my-5">
            <div class="col-md-4 d-flex flex-row justify-content-center">
              <img class="d-flex flex-column justify-content-center" src="{% static 'home/view_home/pictogram_private_service.svg' %}" alt="Private Service">
            </div>
            <div class="col-md-8 ">
              <h2 class="my-3 text-uppercase text-right"><strong>{% translate "Cancer Consulting <br>& Second Opinion" %}</strong></h2>
              <p class="lead text-right">
                We offer services related to cancer. With years of experience in cancer treatment and research, we care with our knowledge about your well-being. Find out more about our <a href="{% url 'home:privateservice' %}" >cancer consulting & second opinion service</a> and learn <a href="#" onClick="return false;" id="myModalConsultingButton">how our service works</a>.</p>
            </div>
          </div>

          <!-- Paragraph left -->
          <div class="row my-5">
            <div class="col-md-8">
              <h2 class="my-3 text-uppercase "><strong>{% translate "Worldwide Specialist Network" %}</strong></h2>
              <p class="lead">{% translate "With us you will get access to some of the worlds specialists in cancer diagnostic and treatment. We make the newest and most advanced cancer treatment available for you." %}</p>
            </div>
            <div class="col-md-4 d-flex flex-row justify-content-center">
              <img class="d-flex flex-column justify-content-center" src="{% static 'home/view_home/pictogram_network_home.svg' %}" alt="Network">
            </div>
          </div>

          <!-- Paragraph right -->
          <div class="row my-5">
            <div class="col-md-4 d-flex flex-row justify-content-center">
              <img class="d-flex flex-column justify-content-center" src="{% static 'home/view_home/pictogram_knowledge.svg' %}" alt="Private Service">
            </div>
            <div class="col-md-8 ">
              <h2 class="my-3 text-uppercase text-right"><strong>{% translate "Cancer Knowledge" %}</strong></h2>
              <p class="lead text-right">
                {% translate "With us you will get access to some of the worlds specialists in cancer diagnostic and treatment. We make the newest and most advanced cancer treatment available for you." %}</p>
            </div>
          </div>

          <!-- Paragraph left -->
          <div class="row my-5">
            <div class="col-md-8">
              <h2 class="my-3 text-uppercase "><strong>{% translate "Strong in cancer research" %}</strong></h2>
              <p class="lead">{% translate "We combine theory and application - the best way of finding the optimal ways for diagnose and treatment. Look at some of our recent papers and find projects we are recently researching in." %}</p>
            </div>
            <div class="col-md-4 d-flex flex-row justify-content-center">
              <img class="d-flex flex-column justify-content-center" src="{% static 'home/view_home/pictogram_research.svg' %}" alt="Research">
            </div>
          </div>

          <!-- Paragraph right -->
          <div class="row my-5">
            <div class="col-md-4 d-flex flex-row justify-content-center">
              <img class="d-flex flex-column justify-content-center" src="{% static 'home/view_home/pictogram_professional.svg' %}" alt="Professional">
            </div>
            <div class="col-md-8 ">
              <h2 class="my-3 text-uppercase text-right"><strong>{% translate "Professional services" %}</strong></h2>
              <p class="lead text-right">
                {% translate "We provide professional services as dosimetry service, implementation of software for treatment planning, education of staff and more. Contact us for getting first information and learn how we can improve the quality in your services." %}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

 <!-- TODO: Nice pictures -->
<!--
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">{% translate "Meet&nbsp;the team" %}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg" width="100" alt="Card image cap">
          <h4> <b>Dr. rer. nat. Seval Beykan</b></h4>
          <p class="text-dark">Founder &amp; Head of Servce</p>
        </div>
        <div class="col-lg-6 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Card image cap">
          <h4> <b>M. Eng. Nico Schürrle</b></h4>
          <p class="text-dark">Co-founder &amp; CEO</p>
        </div>
      </div>
    </div>
  </div>
-->


{% endblock %}