{% extends "home/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

{% for info in info_list %}
  {% if info.is_active == True %}
    <div class="alert alert-secondary text-center" role="alert">
      <strong>{% blocktranslate with info=info.info_text %}INFO: {{ info }}{% endblocktranslate %}</strong>
    </div>
  {% endif %}
{% endfor %}

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mb-4 text-capitalize">Our portfolio in cancer</h1>
          <div class="row">
            <div class="col-lg-5 col-md-6 p-md-4 col-3"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg" width="1500"> </div>
            <div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
              <h2 class="my-3 text-uppercase text-right text-primary">Private Services for You!</h2>
              <p class="lead text-right">Wether it is a second opinion, explanation of medical terms, connect you to one of our cancer specialists or you just want some to talk about the next steps in your treatment - We are here for you. See more detailed information --&gt; LINK</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center order-2 order-md-1 py-4">
              <h2 class="my-3 text-uppercase text-primary">Worldwide Specialist Network</h2>
              <p class="lead">With us you will get access to some of the worlds specialists in cancer diagnostic and treatment. We make the newest and most advanced cancer treatment available for you.</p>
            </div>
            <div class="col-lg-5 col-md-6 p-md-4 col-3 offset-lg-1 order-1 order-md-2"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg" width="1500"> </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-6 p-md-4 col-3"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-3.svg" width="1500"> </div>
            <div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
              <h2 class="my-3 text-uppercase text-right text-primary">Cancer Knowledge</h2>
              <p class="lead text-right">With us you will get access to some of the worlds specialists in cancer diagnostic and treatment. We make the newest and most advanced cancer treatment available for you.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center order-2 order-md-1 py-4">
              <h2 class="my-3 text-uppercase text-primary">strong in cancer research</h2>
              <p class="lead">We combine theory and application - the best way of finding the optimal ways for diagnose and treatment. Look at some of our recent papers and find projects we are recently researching in.</p>
            </div>
            <div class="col-lg-5 col-md-6 p-md-4 col-3 offset-lg-1 order-1 order-md-2"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg" width="1500"> </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-6 p-md-4 col-3"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-3.svg" width="1500"> </div>
            <div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
              <h2 class="my-3 text-uppercase text-right text-primary">Professional services</h2>
              <p class="lead text-right">We provide professional services as dosimetry service, implementation of software for treatment planning, consult for implementation of new workflows and more. Contact us for getting first information and learn how we can improve the quality in your services.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">Meet&nbsp;the team</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg" width="100" alt="Card image cap">
          <h4> <b>Dr. rer. nat. Seval Beykan</b></h4>
          <p class="text-primary">Founder &amp; Head of Servce</p>
          <p class="mb-0"> <i>"I throw myself down among the tall grass by the trickling"</i> </p>
        </div>
        <div class="col-lg-6 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Card image cap">
          <h4> <b>M. Eng. Nico Schürrle</b></h4>
          <p class="text-primary">Co-founder &amp; CEO</p>
          <p class="mb-0"> <i>"As I lie close to the earth, a thousand unknown plants"</i> </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}