{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}


  <div class="py-3 text-center" >
    <div class="container">
      <div class="row">
        <div class="mx-auto p-4 col-lg-7">
          <h1 class="mb-4">{% translate "Be an early Bird! Register now for a place in our Health & Cancer Prevention Program and get a special discount!" %}</h1>
            <!--  novalidate disables browser validation -->
            <!--  invalid-feedback is not working, no error messages will be shown except inline red. See https://github.com/twbs/bootstrap/issues/29439 -->

          <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
            {{ s_form.non_field_errors }}
              <div class="col-md-6"> {{ s_form.first_name }} </div>
              <div class="col-md-6"> {{ s_form.last_name }} </div>
              <div class="col-md-6"> {{ s_form.country }} </div>
              <div class="col-md-6"> {{ s_form.date_of_birth }} </div>
              <div class="col-md-6"> {{ s_form.phone }}
                <small class="form-text text-muted text-start"> {{ s_form.phone.help_text }} </small>
              </div>
              <div class="col-md-6"> {{ s_form.email }} </div>
            <div class="form-check"> {{ s_form.terms_accepted }}
              <small class="form-check-label text-muted">{% translate "Herewith I agree to the" %}
                <a href="{% static 'home\B2C GENERAL TERMS AND CONDITIONS FOR CONSULTANCY SERVICES.pdf' %}">{% translate "General Terms & Conditions" %}</a>
                {% translate "and" %}
                <a href="{% static 'home\DATA PROTECTION.pdf' %}">{% translate "Data Protection" %}</a>
              </small>
            </div>
            <div class="p-2 form-group"> <input class="btn btn-primary" type="submit" value="Submit"> </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="py-5 text-center" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-10"> <i class="d-block fa fa-stop-circle-o fa-3x mb-2 text-muted"></i>
          <h2 class="my-3 text-uppercase text-center">{% translate "GDC Membership program - Coming up soon!" %}</h2>
          <ul>
            <li class="mb-2 text-center"> <b>{% translate "Absorbed" %}</b>&nbsp;{% translate "- in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke." %}</li>
            <li class="mb-2 text-center"> <b>{% translate "Absorbed" %}</b>&nbsp;{% translate "- in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke." %}</li>
            <li class="mb-2 text-center"> <b>{% translate "Absorbed" %}</b>&nbsp;{% translate "- in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke." %}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Default JS for validation from bootstrap -->
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
<script>
    $(document).ready(function () {
        $('#datepicker').datepicker();
    });
</script>

{% endblock %}