{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}


  <div class="py-1 text-center" >
    <div class="container">
      <!-- Subscription Form with headline -->
      <div class="row">
        <div class="mx-auto p-3 col-lg-7">
          <h2 class="mb-4">{% translate "Be an early Bird: Register now for a place in our Health & Cancer Prevention Program and get a special discount!" %}</h2>
            <!--  novalidate disables browser validation -->
            <!--  invalid-feedback is not working, no error messages will be shown except inline red. See https://github.com/twbs/bootstrap/issues/29439 -->

          <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
            {{ s_form.non_field_errors }}
              <div class="col-md-6"> {{ s_form.first_name }} </div>
              <div class="col-md-6"> {{ s_form.last_name }} </div>
              <div class="col-md-6"> {{ s_form.country }} </div>
              <div class="col-md-6"> {{ s_form.date_of_birth }} </div>
              <div class="col-md-6"> {{ s_form.phone }}
                <small class="form-text text-muted text-start"> {{ s_form.phone.help_text }} </small>
              </div>
              <div class="col-md-6"> {{ s_form.email }} </div>
            <div class="form-check"> {{ s_form.terms_accepted }}
              <small class="form-check-label text-muted">{% translate "Herewith I agree to the" %}
                <a target="_blank" href="{% static 'home\B2C GENERAL TERMS AND CONDITIONS FOR CONSULTANCY SERVICES.pdf' %}">{% translate "General Terms & Conditions" %}</a>
                {% translate "and" %}
                <a target="_blank" href="{% static 'home\DATA PROTECTION.pdf' %}">{% translate "Data Protection" %}</a>
              </small>
            </div>
            <div class="p-2 form-group"> <input class="btn btn-primary" type="submit" value="Submit"> </div>
          </form>
        </div>
      </div>
      <!-- Page Paragraph w. Image -->
        <div class="row d-flex flex-row justify-content-center mb-1">
          <h3 class=" text-center text-dark">{% translate "Prevention is better than cure!" %}</h3>
          <div class="mx-auto col-md-10">
                <p class="my-2">{% translate "Our health program aims at the prevention and early detection of cancer and tumors in order to minimize the risk of a serious disease. Together with our partners, we would like to offer you a overall preventive care package of the highest quality." %}
                </p>
          </div>
          <div class="col-md-6 mt-2">
            <img class="img-fluid d-block mb-3 ratio ratio-1x1" src="{% static 'home/view_membership/health_program.png' %}" >
            <p class="text-muted blockquote-footer">{% translate "Source:" %} German Diagnostic Center</p>
          </div>
        </div>
    </div>
  </div>

<!--  Default JS for validation from bootstrap -->
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
<script>
    $(document).ready(function () {
        $('#datepicker').datepicker();
    });
</script>

{% endblock %}