{% extends "home/base.html" %}
{% load static %}
{% block content %}
  <div class="py-3 text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-6 p-4" style=""> <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
          <p class="lead">{% blocktranslate %}Cancer Consulting{% endblocktranslate %}</p> <a class="btn btn-primary" href="#">{% translate "Go To" %}</a>
        </div>
        <div class="col-lg-6 col-6 p-4"> <i class="d-block fa fa-stop-circle fa-3x mb-2 text-muted"></i>
          <p class="lead">{% blocktranslate %}Professional Second Opinion{% endblocktranslate %}</p> <a class="btn btn-primary" href="#">{% translate "Go To" %}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-10"> <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
          <h2 class="my-3 text-uppercase text-center">{% translate "Cancer Consulting" %}</h2>
          <ul>
            <li class="mb-2 text-center"> <b>{% translate "Absorbed" %}</b>&nbsp;{% translate "- in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke." %}</li>
            <li class="mb-2 text-center"> <b>{% translate "Absorbed" %}</b>&nbsp;{% translate "- in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke." %}</li>
            <li class="mb-2 text-center"> <b>{% translate "Absorbed" %}</b>&nbsp;{% translate "- in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke." %}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-10"> <i class="d-block fa fa-stop-circle fa-3x mb-2 text-muted"></i>
          <h2 class="my-3 text-uppercase text-center">{% translate "Professional second opinion" %}</h2>
          <ul>
            <li class="mb-2 text-center"> <b>{% translate "Absorbed" %}</b>&nbsp;{% translate "- in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke." %}</li>
            <li class="mb-2 text-center"> <b>{% translate "Absorbed" %}</b>&nbsp;{% translate "- in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke." %}</li>
            <li class="mb-2 text-center"> <b>{% translate "Absorbed" %}</b>&nbsp;{% translate "- in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke." %}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

